{% extends 'base.html' %}
{% comment %} {%load static %} {% endcomment %}
{%block page_content %}
<h1>Welcome to my Projects</h1>
<div class="row">
    {% for proj in projs %}
        <div class="col-md-4">
            <div class="card mb-2">
                {% comment %} <img class="card-img-top" src="{% static proj.image %}"> {% endcomment %}
                <div class="card-body">
                    <h5 class="card-title">{{ proj.title }}</h5>
                    <p class="card-text">{{ proj.description }}</p>
                    <a href="{% url 'proj_detail' proj.pk %}"
                       class="btn btn-primary">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}